<a href="https://colab.research.google.com/github/kobebryantandlebron/Numerical-Method-58012/blob/main/Control_and_Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF

In [13]:
a = 120
b = 100

if b > a:
    print ("b is greater than a")

ELIF

In [14]:
a = 1000
b = 100

if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")

ELSE

In [15]:
if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")
else:
  print ("a is greater than b")

a is greater than b

SHORT HAND IF STATEMENT

In [16]:
if a > b: print ("a is greater than b")

a is greater than b

IF BOTH CONDITIONS ARE TRUE

In [17]:
if a > b or b > c:
  print ("one condition is true")

one condition is true

NESTED

In [18]:
x = int(input())

if x > 10:
  print ("x is above 10")
  if x > 20:
    print ("x is above 20")
    if x > 30:
      print ("x is above 30")
      if x > 40:
        print ("x is above 40")
        if x > 50:
          print ("x is above 50")
        else:
          print ("x is below 50")
else:
  print ("x is below 19")

35
x is above 10
x is above 20
x is above 30

APPLICATION #1

In [19]:
age = int(input())

if age >= 20:
  print ("you are qualified to vote")
else:
  print ("you are not qualified to vote")

21
you are qualified to vote

APPLICATION #2

In [20]:
x = int(input())

if x > 0:
  print ("x is a positive number")
elif x == 0:
  print ("x is zero")
else:
  print ("x is a negative number")

10
x is a positive number

APPLICATION #3

In [21]:
grade = int(input())

if grade >= 75:
  print ("passed")
elif grade >= 67 and grade < 70:
    print ("remedial")
else:
  print ("failed")

88
passed

FOR LOOP

In [22]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

BREAK STATEMENT

In [23]:
for x in week:
  print (x)
  if x == "Saturday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

LOOPING THROUGH A STRING

In [24]:
for x in "Pogi":
  print (x)

P
o
g
i

RANGE()FUNCTION

In [25]:
for x in range(20):
  print (x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [26]:
for x in range(5,25):
  print (x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

WHILE LOOP

In [27]:
i = 1
while i < 10:
  print (i)
  i +=1

1
2
3
4
5
6
7
8
9

THE BREAK STATEMENT

In [29]:
i = 1
while i < 10:
  print (i)
  if i == 50:
    break
  i +=1

1
2
3
4
5
6
7
8
9

THE CONTINUE STATEMENT

In [30]:
i = 1

while i < 10:
  i += 1
  if i == 20:
    continue
  print (i)

2
3
4
5
6
7
8
9
10